* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  font-family: "Oswald", sans-serif;
}
body {
  background-image: url("../images/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
h1 {
  margin-top: 15px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}
section {
  margin: 10px 0;
}
.article-text {
  margin: 20px 10px;
  color: white;
  font-size: 16px;
  text-align: center;
  clear: both;
}
.paragraph-text {
    color: white;
    font-size: 25px;
}
#img {
  display: block;
  float: left;
  width: 1000px;
  -webkit-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  border-radius: 10px;
}
#img2 {
  display: block;
  margin-left: 35px;
  margin-bottom: 20px;
  float: left;
  width: 770px;
  -webkit-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  border-radius: 10px;
}
@media only screen and (min-width: 724px) {
    #img {
      width: 50%;
      margin-left: 70px;
    }
    #img2 {
      width: 34%;
    }
    #my-audio {
      width: 30%;
    }
}
@media only screen and (max-width: 724px) {
  #img {
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 0px;
  }
  #img2 {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 25px;
    border: 0;
    border-radius: 0px;
  }
  #my-audio {
    width: 55%;
    margin-left: 5px;
  }
}
@media only screen and (min-width: 1000px) {
  #my-audio {
    width: 18%;
  }
}
#my-audio {
  margin-top: 30px;
  outline-style: solid;
  outline-width: 0px;
}
#my-music {
  text-align: center;
}
#btn-color {
  color: white;
  background-color: #1762A7;
  text-decoration: none;
  width: 300px;
  height: 95px;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;                 
  border: 0;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: all .3s;
}
#btn-color:hover {
  transform: scale(1.05) rotateX(3deg);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: #7289da;
  position: sticky;
  top: 0;
  border: 1px solid gray;
}
nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 10px;
}
nav li {
  display: inline;
  padding-right: 30px;
}
p {
  margin-top: 10px;
}
#website-name {
  display: flex;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
a:hover {
  opacity: 50%;
  transition: 0.1s ease-in;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
footer {
  background-color: #7289da;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  border: 1px solid gray;
}
footer p {
  color: white;
  font-size: 18px;
  margin: 0 auto;
}
.burger div {
  border-radius: 5px;
  width: 25px;
  height: 4px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}
.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in;
    padding-bottom: 25px;
  }
  .nav-links li {
    display: none;
    transform: translateX(100%);
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  #website-name {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 425px) {
  footer p {
    font-size: 16px;
  }
}
.burger-none div {
  opacity: 1;
  display: none;
  transition: transform 1s ease-in;
}
.nav-links-active li {
  opacity: 1;
  display: inline;
  transform: translateX(0%);
}
.nav-links-active {
  padding-bottom: 25px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in;
}
@keyframes navLinkFade {
  from {
    opacity: 0.75;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line2 {
  opacity: 75%;
}
#contact-us {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}
#contact-us a{
  font-size: 25px;
  color: #7ab6fa;
  text-decoration: none;
  font-family: Lato;
}
h2 {
  margin-top: 15px;
  font-size: 40px;
}
hr {
  border: 1px solid #7ab6fa;
}