* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Oswald", sans-serif;
}

/* Headings */

h1 {
  margin: 15px 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h2, h3 {
  margin: 15px 0;
  color: white;
}

/* Container */
.container {
  max-width: 1440px;
  margin: auto;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #7289da;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(93, 92, 92);
}
nav li {
  display: inline-block;
}
nav a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}
nav a:hover {
  opacity: 50%;
  transition: 0.1s ease-in;
}

/* Nav-links */

.nav-links-active li {
  display: inline-block;
  opacity: 1;
  transform: translateX(0%);
}
.nav-links-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in;
}
.nav-links-active ul {
  text-align: center;
}
.nav-links-active ul li{
  display: inline-block;
  text-align: center;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.website-name {
  display: flex;
  font-size: 18px;
  margin-left: 10px;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

/* Section */

section {
  padding: 20px 0;
}
.article-text {
  margin: 20px 10px;
  color: white;
  font-size: 14px;
  text-align: center;
}
.article-heading-text {
    color: white;
    font-size: 18px;
    text-align: center;
}
.article-text, .article-heading-text {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
}

/* Article */

article {
  padding: 20px 0;
}
article h2 {
  text-align: center;
}

/* Gallery */

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__img-1 {
  display: block;
  width: 100%;
  -webkit-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
}
.gallery__img-2 {
  display: block;
  width: 100%;
  -webkit-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
  box-shadow: -1px 6px 13px 0px rgba(0,0,0,0.44);
}

/* Audio */

.my-audio {
  margin: 15px 0;
  border: 0;
}
.my-music {
  text-align: center;
}

/* Buttons */

.btn-color {
  color: white;
  background-color: #1762A7;
  text-decoration: none;
  width: 300px;
  height: 95px;
  font-size: 12px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;                 
  border: 0;
  border-radius: 30px;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: all .3s;
}
.btn-color:hover {
  transform: scale(1.1) rotateX(3deg);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  background-color: #7289da;
  padding: 25px;
}
footer p {
  color: white;
  font-size: 16px;
  text-align: center;
}

/* Hamburger menu */

.burger {
  display: none;
}
.burger div {
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: all 0.3s ease;
}
.burger-none div {
  opacity: 1;
  display: none;
  transition: transform 1s ease-in;
}

/* Actor Article */

.actors {
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 30px 0;
}
.actors a{
  font-size: 16px;
  color: #7ab6fa;
  text-decoration: none;
}
.actors__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.actors__grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 500px;
}
.actors__image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Media Query */

@media only screen and (max-width: 724px) {
  .gallery {
    width: 100%;
    flex-wrap: wrap;
    border-radius: 0;
  }
}
@media screen and (max-width: 768px) {
  .nav-links {
    height: 95px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    display: none;
    text-align: center;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}